.exercise-item {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 15px;
  font-family: "DM Sans";
  max-width: 335px;

  @media screen and (min-width:768px){
    max-width: 344px;
  }

  @media screen and (min-width:1200px) {
    max-width: 442px;
  }
}

.exercise-grid-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.exercise-grid-header-left {
  display: flex;
  align-items: center;
}

.exercise-grid-workout {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
  color: #242424;
  padding: 5px 8px;
  border: 1px solid #242424;
  border-radius: 15px;
  margin-right: 16px;
}

.exercise-grid-rating {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #242424;
}

.exercise-grid-start-btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.exercise-grid-body {
  display: flex;
  align-items: center;
  margin-bottom: 18px;

  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
  }
}

.run-icon {
  background-color: #242424;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exercise-grid-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #242424;
  text-transform: capitalize;
  display: inline-block;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 358px;
  }
}

.exercise-grid-footer {
  color: #24242466;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  display: flex;
  white-space: nowrap;
  gap: 10px;
}

.exercise-grid-value {
  color: #242424;
  text-transform: capitalize;
}

.exercise-grid-footer p {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: nowrap;
  font-size: 12px;
}

.exercise-grid-value {
  display: inline-block;
  max-width: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (min-width: 480px) {
  .exercise-grid-footer p {
    font-size: 12px;
  }

  .exercise-grid-value {
    max-width: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .exercise-grid-value {
    max-width: 100%;
  }
}
