{
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*.css", "*.scss"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["**/*.ts"],
      "options": {
        "printWidth": 100
      }
    }
  ],
  "bracketSpacing": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 140,
  "semi": true,
  "arrowParens": "avoid",
  "endOfLine": "auto"
}
