@use '../../styles/mixins.scss' as *;
@use '../../styles/variables.scss' as *;

.quote-block {
  position: relative;
  background: #242424;
  border-radius: 20px;
  font-family: var(--dm-sans-family), sans-serif;
  font-weight: 500;
  color: #ffffff;
  padding: $spacing-xl;
  max-width: 444px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .quote-header {
    .quote-icon {
      position: absolute;
      left: $spacing-xl;
      top: $spacing-xl;
      width: 34px;
      height: 34px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .quote-title {
      font-family: var(--dm-sans-family), sans-serif;
      font-weight: 600;
      font-size: 24px;
      line-height: 1.33;
      margin-bottom: 6px;
      padding-left: 50px;
      color: #fff;
      white-space: nowrap;
    }

    .quote-decor {
      position: absolute;
      right: $spacing-xl;
      top: $spacing-xl;
      width: 20px;
      height: 20px;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  .quote-text {
    font-size: 14px;
    line-height: 1.29;
    color: rgba(244, 244, 244, 0.6);
    padding-left: 50px;
    margin-bottom: 8px;
  }

  .quote-author {
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    padding-left: 50px;
  }
}

@include tablet {
  .quote-block {
    max-width: 400px;
  }

  .quote-header {
    .quote-icon {
      position: absolute;
      left: 40px;
      top: 40px;
    }

    .quote-title {
      padding-left: 50px;
    }
  }
}

@include mobile {
  .quote-block {
    max-width: 100%;

    .quote-header {
      margin-bottom: 8px;

      .quote-icon {
        width: 34px;
        height: 32px;
      }

      .quote-title {
        font-size: 20px;
        line-height: 1;
      }
    }

    .quote-text {
      font-size: 14px;
      line-height: 1.29;
      margin-bottom: 16px;
    }

    .quote-author {
      font-size: 14px;
      line-height: 1.29;
    }
  }
}
