<footer class="footer">
  <div class="container">
    <div class="footer-info">
      <div class="social">
        <div class="footer-logo">
          <a href="/" class="footer-logo-link">
            <span class="footer-logo-text">Your Energy</span>
          </a>
        </div>
        <ul class="social-links-footer">
          <li class="social-links-item">
            <a class="social-links-link" href="https://www.facebook.com/goITclub/" target="_blank" rel="noopener noreferrer">
              <svg class="social-links-icon" width="28" height="28">
                <use href="/src/images/sprite.svg#icon-facebook" />
              </svg>
            </a>
          </li>
          <li class="social-links-item">
            <a class="social-links-link" href="https://www.instagram.com/goitclub/" target="_blank" rel="noopener noreferrer">
              <svg class="social-links-icon" width="28" height="28">
                <use href="/src/images/sprite.svg#icon-instagram" />
              </svg>
            </a>
          </li>
          <li class="social-links-item">
            <a class="social-links-link" href="https://www.youtube.com/c/GoIT" target="_blank" rel="noopener noreferrer">
              <svg class="social-links-icon" width="28" height="28">
                <use href="/src/images/sprite.svg#icon-youtube" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="slogan">
        <h2 class="slogan-massage">Transforming your body shape with us</h2>
      </div>
      <div class="registration">
        <p class="form-titel">Subscribe and learn about new exercises!</p>
        <form class="form">
          <label class="form-label">
            <input type="email" name="user-message" placeholder="Email" class="registration-input" />
          </label>
          <button class="submit-btn" type="submit">Send</button>
        </form>
      </div>
    </div>
    <div class="footer-end">
      <p class="small-footer-text">Your Energy. All rights reserved.</p>
      <div class="footer-rules">
        <a class="small-footer-text policy" href="#">Privacy Policy</a>
        <a class="small-footer-text" href="#">Terms of Service</a>
      </div>
      <p class="small-footer-text year">©2023</p>
    </div>
  </div>
</footer>
