
<header class="header">
  <div class="header__container">
    <a class="header__logo-link" href="/">
      <svg class="header__logo" width="132" height="24">
        <use href="/src/images/sprite.svg#icon-logo" />
      </svg>
    </a>
    <app-header-navigation class="header__navigation"></app-header-navigation>
    <button class="header__menu-button">
      <svg class="header__menu-icon" width="32" height="32">
        <use href="/src/images/sprite.svg#icon-burger" />
      </svg>  
    </button>
    <app-social-links class="header__social-links" color-style="light" />
  </div>
  <div class="header__user-menu">
    <nav class="header__user-nav"></nav>
  </div>
</header>