<header class="header">
  <div class="container">
    <div class="header__logo">
      <a href="/" class="header__logo-link">
        <span class="header__logo-text">YourEnergy</span>
      </a>
    </div>
    
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="/" class="header__nav-link">Home</a>
        </li>
        <li class="header__nav-item">
          <a href="/favorites" class="header__nav-link">Favorites</a>
        </li>
      </ul>
    </nav>

    <ul class="header__social">
      <li class="header__social-item">
        <a href="https://www.facebook.com/goITclub/" target="_blank" class="header__social-link">
          FB
        </a>
      </li>
      <li class="header__social-item">
        <a href="https://www.instagram.com/goitclub/" target="_blank" class="header__social-link">
          IG
        </a>
      </li>
      <li class="header__social-item">
        <a href="https://www.youtube.com/c/GoIT" target="_blank" class="header__social-link">
          YT
        </a>
      </li>
    </ul>

    <button class="header__burger" type="button">
      <span class="header__burger-line"></span>
      <span class="header__burger-line"></span>
      <span class="header__burger-line"></span>
    </button>

    <div class="header__mobile-menu">
      <nav class="header__mobile-nav">
        <ul class="header__mobile-nav-list">
          <li class="header__mobile-nav-item">
            <a href="/" class="header__mobile-nav-link">Home</a>
          </li>
          <li class="header__mobile-nav-item">
            <a href="/favorites" class="header__mobile-nav-link">Favorites</a>
          </li>
        </ul>
      </nav>

      <ul class="header__mobile-social">
        <li class="header__mobile-social-item">
          <a href="https://www.facebook.com/goITclub/" target="_blank" class="header__mobile-social-link">
            FB
          </a>
        </li>
        <li class="header__mobile-social-item">
          <a href="https://www.instagram.com/goitclub/" target="_blank" class="header__mobile-social-link">
            IG
          </a>
        </li>
        <li class="header__mobile-social-item">
          <a href="https://www.youtube.com/c/GoIT" target="_blank" class="header__mobile-social-link">
            YT
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
