<section class="my-favorites-section">
  <div class="container">
    <h1 class="my-favorites-header">Favorites</h1>
    <div class="my-favorites-block-flex">
      <div>
        <load src="src/partials/quote/quote.html" />
      </div>
      <div>
        <p id="my-favorites-notfound">
          It appears that you haven't added any exercises to your favorites yet. To get started, you can add exercises that you like to your
          favorites for easier access in the future.
        </p>
        <ul id="my-favorites-list"></ul>

        <div id="my-pagination" class="my-pagination"></div>
      </div>
    </div>
  </div>
</section>
